VITE_SUPABASE_URL=https://lifncdoseupttsfidhro.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxpZm5jZG9zZXVwdHRzZmlkaHJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyNjQwODIsImV4cCI6MjA5OTg0MDA4Mn0.kAjrD-O_EcTD2opdIux5lWU62KyX1Vsz1nf7JCKrWuI